<div class='col-sm-10 col-sm-offset-2'>
  <p {{bind-attr class='levelOne:bold levelOne:underlined levelOne:bottom-margin-large levelOne:top-margin-large :italic'}}>
    {{#if levelTwo}}{{fontawesome-icon type='angle-double-right'}}{{/if}}
    {{text}}
  </p>
</div>
