fieldset.fieldset-border {
  border: 1px groove #ccc !important;
  padding: 0em 1.4em 1em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}

legend.fieldset-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 10px;
  border-bottom:none;
}

form .help-block {
  font-size: 80%;
  margin-top: -5px;
}

// bootstrap_social buttons have icons that are a bit crowded to left side of box
#social-login-buttons i { margin-left: 5px; }

// ember-forms adds an empty span.help-block after it finishes validating a form
// input. This throws everything down the page, and sucks. Remove margin from
// the validated elements in order to keep everything lined up.
.has-success, .has-error {
  margin-bottom: 0px;
}

// ember-forms doesn't properly line up the feedback checkboxes on a default
// layout form (i.e. not horizontal or inline). Need to add .default-layout to form
.default-layout {
  .has-feedback .form-control-feedback { top: 0; }
}

// Text above form inputs that is not 'help-text'
.form-detail-text { margin-top: 5px; }
