body { padding-top: 50px; }

// Navbar's margin-bottom does not affect container content
#main {margin-top: 20px;}

// Headroom.js
// http://stackoverflow.com/questions/20648451/how-do-you-use-headroom-js-with-bootstrap-3-navbar
.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}

.navbar-default .navbar-brand {
  line-height: inherit;
  height: inherit;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 5px;
  // padding-left: 5px;
}

.center-with-logo {
  padding-top: 3px;
  margin-bottom: 12px;
}

.button-with-image { padding: 2px 5px; }

.navbar-right-button {margin-right: 10px;}

// Make Navigation Toggle on Desktop Hover
// See associated javascript (ensures clicking on root element still works if
// it has an href)
@media only screen and (min-width : 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

// Width between iphone landscape & portait (will have another breakpoint for
// landscape). Navbar image & text makes navbar overflow unless you shrink them.
@media only screen and (max-width : 450px) {
  .navbar {
    .navbar-brand {
      padding-top: 10px;
      padding-bottom: 3px;
      img { width: 170px; }
    }
    .navbar-text { font-size: 0.75em; }
  }
}
