body { padding-top: 50px; }

// Navbar's margin-bottom does not affect container content
#main {margin-top: 20px;}

.navbar-default .navbar-brand {
  line-height: inherit;
  height: inherit;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 5px;
  // padding-left: 5px;
}

@media only screen and (min-width : 768px) {
  // Make Navigation Toggle on Desktop Hover
  // See associated javascript
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.center-with-logo {
  padding-top: 4px;
  margin-bottom: 11px;
}

.button-with-social-image { padding: 2px 5px; }
