.asset-class-checkboxes {
  .checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  label {font-size: 12px;}
}

.chart-container {
  margin-bottom: 30px;

  // Generic size increase
  text {font-size: 12px;}

  // Increase x-grid label sizes
  .c3-xgrid-lines text {
    font-size: 15px;
  }

  // .c3-circle {
  //   stroke-width: 4px;
  // }

  // .c3-circle._expanded_ {
  //   stroke-width: 2px;
  //   stroke: white;
  // }
  // .c3-selected-circle {
  //   fill: white;
  //   stroke-width: 4px;
  // }

}
