.bold {font-weight: bold;}
.italic {font-style: italic;}
.justify {text-align: justify;}
.underlined {text-decoration: underline;}

.padded {padding: 15px;}

.space-left {margin-left: 15px;}
.space-left-large {margin-left: 25px;}

.top-margin {margin-top: 15px;}
.top-margin-large {margin-top: 25px;}
.bottom-margin {margin-bottom: 15px;}
.bottom-margin-large {margin-bottom: 25px;}
.no-bottom-margin {margin-bottom: 0px;}
.no-top-margin {margin-top: 0px;}

.block {display: block;}
.inline-block {display: inline-block;}
.inline {display: inline;}

.float-left {float: left;}
.float-right {float: right;}
