<div class='row'>
  <div class='col-md-offset-2 col-md-8'>

    {{#em-form model=this form_layout='horizontal' action='resetPassword' submit_button=false}}
      <fieldset class='fieldset-border'>
        <legend class='fieldset-border'>Set Your Password</legend>

        {{em-input property="password" type='password' label="Password" autofocus=true required=true}}
        {{em-input property="passwordConfirmation" type='password' label="Confirmation" required=true}}

        <div class='row'>
          <div class='col-sm-10 col-sm-offset-2'>
            {{form-submit-button text="Reset my password"}}
            {{form-button action="cancel" text="Cancel"}}
          </div>
        </div>

      </fieldset>
    {{/em-form}}

  </div>
</div>
