{{#unless hasSelectedExpenses}}
  {{#bs-alert type='warning'}}
    <p>We have pre-created some expenses for you to get you going. Take a look before proceeding!</p>
  {{/bs-alert}}
{{/unless}}

<div class='row'>

  <div class='col-md-6 top-margin'>
    {{partial 'retirement_simulation/available_expenses'}}
  </div>

  <div class='col-md-6 top-margin'>
    {{partial 'retirement_simulation/added_expenses'}}
  </div>

</div>
