{{!-- TODO: NOT DONE --}}

<p class='lead'>Simulate</p>

{{link-to 'Expenses' 'retirement_simulation.expenses'}}
{{link-to 'Parameters' 'retirement_simulation.parameters'}}
{{link-to 'Simulate' 'retirement_simulation.simulate'}}
