{{#bs-modal showing=true}}
  <div class='modal-dialog'>
    <div class='modal-content'>

    <div class='modal-header'>
      <button class='close' type='button' data-dismiss='modal' aria-hidden='true'>
        {{fontawesome-icon type="remove" withForcedSpace=false}}
      </button>
      <h4 class='modal-title'>Learn More</h4>
    </div>

    <div class='modal-body'>
      <h4>Hi there! I was rendered in a named outlet.</h4>
    </div>

    <div class='modal-footer'>
      <div class='pull-right'>
        <button class='btn btn-default' data-dismiss="modal">Cancel</button>
        <button class='btn btn-success'>OK</button>
      </div>
    </div>

    </div>
  </div>
{{/bs-modal}}
