{{bs-page-header title="Dashboard!" sub="With context."}}

<p class='lead'>Hello</p>


{{#if currentUser.completedQuestionnaire}}
  Modify your {{link-to 'questionnaire responses' 'questionnaire.edit'}}.
{{else}}
  Take your {{link-to 'questionnaire' 'questionnaire.new'}}.
{{/if}}
