<div id="footer">
  <div class="container-fluid text-center" id='footer-content'>

    <ul class='list-inline'>
      <li>|&nbsp; © <a href="/" title="RetirementPlan.io Copyright">RetirementPlan.io</a> - 2012-2014</li>
      <li>|&nbsp; <a href="/privacy">Privacy Policy</a></li>
      <li>|&nbsp; <a href="/terms">Terms of Service</a></li>
      <li>|&nbsp; <a href="/disclosures">Disclosures</a></li>
      <li>|&nbsp; <a href="/#contact">Contact Us</a>&nbsp; |</li>
    </ul>

  </div>
</div>
