<div class='text-center'>

  <h4>
    Use of RetirementPlan.io requires review and acceptance of our
    <a href="/terms" title="RetirementPlan.io Terms & Conditions" target="_blank">Terms & Conditions</a>
    .
  </h4>

  <br>

  <button class='btn btn-success' {{action acceptTerms}}>Accept</button>

</div>
