<div class="page-header">
  <h1 class='text-center'>Error</h1>
</div>

<p class="lead">We're sorry, something has gone wrong.</p>
<p>If this continues to occur, please let us know.  Head {{link-to 'back to the dashboard' 'dashboard'}}.</p>
