{{bs-page-header title="Error"}}

<p class="lead">We're sorry, something has gone wrong.</p>
<p>If this continues to occur, please {{link-to 'let us know' 'help'}}.  Head {{link-to 'back to the dashboard' 'user.dashboard'}}.</p>
