<div class='row'>

  <div class='col-md-2'>
    {{bs-page-header title="Portfolio Selection" titleLevelH3=true}}

    <p class='italic text-muted no-bottom-margin'>Please select the asset classes you are comfortable investing in.</p>

    <br>

    <div class='asset-class-checkboxes'>
      {{#each asset in controller}}
        <div class="checkbox">
          <label>
            {{input type="checkbox" name=asset.id checked=asset.checked}}
            {{asset.assetClass}}
          </label>
        </div>
      {{/each}}
    </div>

  </div>

  <div class='col-md-10'>
    {{outlet}}
  </div>

</div>
