<div class='row'>

  <div class='col-md-3'>

    <h3>Portfolio Selection</h3>
    <p><em><small>Please select the asset classes you are comfortable investing in.</small></em></p>

    <br>

    {{#each security in controller}}
      <div class="checkbox">
        <label>
          {{input type="checkbox" name=security.ticker checked=security.checked}}
          {{security.assetClass}}
        </label>
      </div>
    {{/each}}

  </div>

  <div class='col-md-9'>
    {{outlet}}
  </div>

</div>
